/* ---------- banner section ------------- */
.section_banner {
  font-family: var(--font-primary);
  background-image: url("../images/banner_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;

  .image-section {
    position: relative;

    img:nth-of-type(2) {
      position: absolute;
      right: 0;
      top: 100%;
      transform: translate(0%, -100%);
    }
  }

  .text-section {
    padding: 50px 20px;

    h1 {
      font-size: var(--fs-50);
      font-weight: var(--fw-800);
      line-height: 1.2;
      letter-spacing: -1.5px;
    }

    .rating {
      font-size: var(--fs-14);
      color: var(--text-dark);
      font-weight: var(--fw-600);
      margin-bottom: 20px;
      display: inline-block;
    }

    .line+p {
      font-size: var(--fs-20);
      font-weight: var(--fw-400);
      line-height: 1.4;
      color: var(--text-dark-4);

      span {
        font-weight: var(--fw-700);
      }
    }

    .stars {
      display: flex;
      gap: 35px;
      padding: 35px 0;

      &>div {
        display: flex;
        gap: 16px;

        h5 {
          font-size: var(--fs-22);
          font-weight: var(--fw-800);
          line-height: 1;
          letter-spacing: -0.01em;
          margin: 0;
          background: linear-gradient(127.81deg, #ffa229 10%, #1c4670 68%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          font-family: var(--font-Lato);
          font-size: var(--fs-14);
          font-weight: var(--fw-400);
          line-height: 1;
          color: var(--text-dark-4);
          margin: 0;
        }
      }
    }
  }

  .vertical-buttons {
    top: 40px;
    right: 0;
    position: absolute;
    display: flex;
    gap: 30px;
    flex-direction: column;

    a {
      box-shadow: 0px 4px 10px 0px #00000052;
      font-size: var(--fs-14);
      border: none;
      font-weight: var(--fw-500);
      padding: 12px 20px;
      border-radius: 10px 0 0 10px;
      line-height: 1.2;
      display: block;
      background: var(--white-color);
      color: var(--black);
      text-align: start;
      transition: all 0.3s linear;

      &:hover {
        background-color: var(--blue-color);
        color: var(--white-color);
      }
    }
  }

  @media (max-width: 992px) {
    .vertical-buttons {
      top: 50%;
      gap: 20px;
    }

    .text-section {
      h1 {
        font-size: var(--fs-40);
      }
    }
  }

  @media (max-width: 576px) {
    .stars {
      flex-wrap: wrap;
    }

    .vertical-buttons {
      width: 150px;
      align-items: end;
    }

    .text-section {
      padding: 20px 10px;

      h1 {
        font-size: var(--fs-28);
      }

      .line+p {
        font-size: var(--fs-15);
      }
    }

    a {
      padding: 12px;
      font-size: var(--fs-12);
      position: relative;
      width: 40px;
      white-space: nowrap;

      small {
        position: absolute;
        opacity: 0;
        left: 150px;
        transition: all 0.3s ease-in;
        color: var(--white-color);
      }

      svg {
        transition: all 0.3s ease-in;
      }

      &:hover {
        width: 150px;

        small {
          opacity: 1;
          left: 0;
          position: initial;
        }

        svg {
          display: none;
        }
      }
    }
  }
}

/* ------- why choose section -------- */
.why_choose_section {
  padding-left: 10px;
  padding-right: 10px;

  .content {
    row-gap: 30px;

    .para-4 {
      margin: 0;
    }

    .feature-box {
      padding: 20px;
      height: 100%;
      border-radius: var(--rounded-10);
      border: 1px solid transparent;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05) translateY(-5px);
      }

      h5 {
        color: var(--black);
      }

      p {
        color: var(--text-color-light);
      }
    }

    .icon-container {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 576px) {
    .content {
      row-gap: 20px;
    }

    .feature-card:nth-of-type(4) {
      display: none;
    }
  }
}

/* -------- our service section --------- */
.section_our_service {
  background-color: var(--text-light-4);

  .card_container {
    padding: 50px 20px;
    row-gap: 50px;

    .box {
      cursor: pointer;
    }

    > :nth-child(2),
    > :nth-child(5) {
      position: relative;
      border-left: 1px solid var(--text-light-6);
      border-right: 1px solid var(--text-light-6);

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 25%;
        width: 4px;
        height: 20px;
        background-color: var(--brown-color);
        transform: translate(calc(-50% - 0.5px), 50%);
        transition: all 0.3s linear;
      }

      &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 75%;
        width: 4px;
        height: 20px;
        background-color: var(--brown-color);
        transform: translate(calc(50% + 0.5px), -50%);
        transition: all 0.3s linear;
      }

      &:hover {
        &::after {
          top: 1%;
        }

        &::before {
          top: 100%;
        }
      }
    }
  }

  .service-box {
    padding: 26px;
  }

  .service-icon {
    margin-bottom: 30px;
  }

  .head-4 {
    color: var(--black);
    margin-bottom: 30px;
  }

  .para-5 {
    color: var(--text-light-5);
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .card_container {
      padding: 30px 10px;
      row-gap: 20px;

      >*.box {
        &::before {
          content: none;
        }

        &::after {
          position: absolute;
          content: "";
          right: 100%;
          top: 25%;
          width: 4px;
          height: 20px;
          background-color: var(--brown-color);
          transform: translate(calc(50% - 0.5px), 50%);
        }
      }

      > :nth-child(2) {
        border-left: 0px solid var(--text-light-6);
        border-right: 0px solid var(--text-light-6);
      }

      > :nth-child(1),
      > :nth-child(3),
      > :nth-child(5) {
        border-left: 0px solid var(--text-light-6);
        border-right: 1px solid var(--text-light-6);

        &::after {
          content: none;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .card_container {
      padding: 30px 20px;
      row-gap: 30px;

      >*.box {
        border-left: 0px solid var(--text-light-6);
        border-right: 0px solid var(--text-light-6);
        border-bottom: 1px solid var(--text-light-6);

        &::before {
          content: none;
        }

        &::after {
          position: absolute;
          content: "";
          right: 25%;
          top: 100%;
          width: 20px;
          height: 4px;
          background-color: var(--brown-color);
          transform: translate(50%, -50%);
          transition: all 0.3s linear;
        }
      }

      > :nth-child(2),
      > :nth-child(4),
      > :nth-child(6) {
        &::after {
          right: 25%;
        }

        &:hover {
          &::after {
            top: 100%;
            right: 75%;
          }
        }
      }

      > :nth-child(1),
      > :nth-child(3),
      > :nth-child(5) {
        &::after {
          right: 75%;
        }

        &:hover {
          &::after {
            top: 100%;
            right: 25%;
          }
        }
      }
    }
  }
}

/* ---------- about section --------- */
.section_about {
  background-color: var(--text-light-4);
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 100%;
    width: 52px;
    height: 550px;
    background-image: url("../images/icons/Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(calc(-50% - 25px), -50%);
    z-index: 0;
  }

  .img-box {
    position: relative;
    box-shadow: 0px 5px 0px var(--primary-color);
    border-radius: var(--rounded-5);
    overflow: hidden;
    width: calc(100% - 30px);
    height: 100%;
    min-height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .img-box {
      width: 100%;
    }

    &::after {
      width: 30px;
      transform: translate(calc(-50% - 15px), -50%);
    }
  }
}

/* ---------- blog section ----------- */
.section_blog {
  .blog-container {
    padding: 50px 10px 0 10px;
    row-gap: 40px;
  }
}

/* ------- floating section ----------- */

.float_logo_section {
  .canvas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
  }

  .canvas-box {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 576px) {
    .canvas-box {
      width: 90px;
      height: 90px;
    }
  }
}

/* ------ testimonial section -------- */
.section_testimonial {
  padding: 50px 20px;

  .testimonial-rating {
    font-size: var(--fs-24);
    color: var(--primary-color);
  }

  .testimonial-card {
    width: 100%;
    max-width: 520px;
    background: var(--white-color);
    color: #000;
    border-radius: var(--rounded-10);
    padding: 20px;
    border: 1px solid var(--text-light);
    cursor: pointer;
  }

  .testimonial-container {
    width: 96%;
    position: relative;
    padding: 0 0 40px 0;
    margin: auto;
  }

  .testimonial-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }

  .testimonial-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: none;
  }

  .para-4 {
    color: var(--text-dark-4);
  }

  .custom-arrow {
    position: absolute;
    top: -50px;
    z-index: var(--z-index-99);
    transform: translateY(-50%);
    font-size: var(--fs-24);
    color: var(--blue-color);
    background: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    &:hover {
      background: var(--primary-color);
      color: var(--white-color);
    }
  }

  .slick-prev.custom-arrow {
    left: calc(100% - 100px);
  }

  .slick-next.custom-arrow {
    right: 0;
  }

  .slick-slide {
    float: right !important;
  }

  .slick-dots {
    bottom: -50px !important;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  @media (max-width: 991px) {
    .custom-arrow {
      top: -35px;
      width: 32px;
      height: 32px;
    }
  }

  @media (max-width: 576px) {
    h1 {
      text-align: center !important;
    }

    .custom-arrow {
      top: calc(100% + 40px);
    }

    .slick-prev.custom-arrow {
      left: calc(50% - 50px);
    }

    .slick-next.custom-arrow {
      right: calc(50% - 50px);
    }
  }
}

/* ------- step section ------ */
.section_step {
  background: var(--primary-color);

  & .steps-container {
    padding: 50px 20px;
    row-gap: 40px;
  }

  .red {
    background-color: #eb5757;
  }

  .green {
    background-color: #27ae60;
  }

  .orange {
    background-color: #f2994a;
  }

  .gray {
    background-color: #828282;
  }

  .icon-container {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 24px;
    flex: none;
  }

  .step {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .para-3 {
    color: var(--text-dark-1);
    margin: 0;
  }
}

/* ------- faq section ------- */

.faq-container {
  padding: 45px 0;

  & .faq-accordion {
    max-width: 1272px;
    margin: 40px auto;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  .faq-question {
    color: var(--text-light-3);
    font-family: var(--font-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    line-height: 1.4;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .faq-answer {
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color-light);
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    background: var(--text-light-4);
  }

  .faq-item {
    position: relative;
    border-width: 1px;
    border-radius: var(--rounded-10);
    overflow: hidden;
    border-style: solid;
    cursor: pointer;
    border-color: #00000020;
    box-shadow: 0px 0px 5.22px 0.78px #00000024;
    transition: all 0.3s ease-in-out;

    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 100%;
      background: linear-gradient(180deg, #ffa229 0%, #1c4670 84.9%);
    }

    &:hover {
      transform: scale(1.01);
    }
  }

  @media (max-width: 767px) {
    .faq-question {
      padding: 16px 20px;
      font-size: var(--fs-15);
    }
  }
}

/* --- footer ---- */
.section_footer {
  background: var(--blue-bg);

  & .row {
    row-gap: 30px;
  }

  & h5 {
    font-family: var(--font-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-700);
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--primary-color);

    margin-bottom: 24px;
  }

  & .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-size: 24px;

    & i {
      color: var(--white-color);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2) rotate(15deg);
      }
    }
  }

  ul li {
    margin-bottom: 12px;

    a {
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--white-color) !important;
      }
    }
  }

  .btn-top {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0px 0px 10px var(--primary-color);
    }
  }
}